{{ if .Site.Params.google_fonts }}
  {{ $fonts := slice }}
  {{ $families := slice }}
  <script>
    const fonts = [];
  </script>
  {{ range .Site.Params.google_fonts }}
    {{ $family :=  (index (.)  0) }}
    {{ $weights := replace (index (.) 1) " " "" }}
    {{ $string := print $family ":" $weights }}
    {{ $fonts = $fonts | append $string }}
    <script>
      fonts.push({{ $string }});
    </script>
  {{ end }}

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: fonts
      }
    });
  </script>
{{ end }}