<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description"
  content="{{ if .IsHome }}{{ $.Site.Params.meta_description }}{{ else if .Params.meta_description }}{{ .Params.meta_description }}{{ else }}{{ .Summary | plainify }}{{ end }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ $themeScss := "scss/main.scss" }}
{{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
{{ $themeCss := resources.Get $themeScss | resources.ExecuteAsTemplate $themeScss . | toCSS $options | minify }}
<link rel="stylesheet" href="{{ $themeCss.RelPermalink }}" media="screen">